* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}
.h1 {
    position: relative;
    max-width: auto;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(71, 36, 36);
    color: antiquewhite;


}
.img {
    background: url("img.jpg")no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.submit {
  color:rgb(71, 36, 36);
  font-size: 15px;
  font-weight: 600;
  padding: 4px 6px;
  border-radius: 5px;
  border: none;
 }
.submit:hover {
    background-color:antiquewhite; 
    color:  rgb(71, 36, 36); 
 }
